In [18]:
    import pandas as pd
    import numpy as np
    import featuretools as ft
    from woodwork.logical_types import Categorical, PostalCode
    # Read in the data
    clients = pd.read_csv('C:/Users/ksmin/data_Science/dataset/clients.csv', parse_dates = ['joined'])
    loans = pd.read_csv('C:/Users/ksmin/data_Science/dataset/loans.csv', parse_dates = ['loan_start', 'loan_end'])
    payments = pd.read_csv('C:/Users/ksmin/data_Science/dataset/payments.csv', parse_dates = ['payment_date'])

    #Create entity set
    es = ft.EntitySet(id = 'clients')

     # Create an entity from the client dataframe
     # This dataframe already has an index and a time index
     # index=RDB primary key
     # time index= date_time feature
    
    """
    es = es.add_dataframe(
    dataframe_name="transactions",
    dataframe=transactions_df,
    index="transaction_id",
    time_index="transaction_time",
    logical_types={
        "product_id": Categorical,
        "zip_code": PostalCode,
    },
)
    """
    #client entity and add es entityset
    es = es.add_dataframe(dataframe_name = 'clients', 
                                   dataframe = clients, 
                                   index = 'client_id', 
                                   time_index = 'joined')
    #create entity loans
    es = es.add_dataframe(dataframe_name='loans', 
                                   dataframe=loans,
                                   index='loan_id', 
                                   time_index='loan_end')
     # Create an entity from the payments dataframe
     # This does not have an index
    es = es.add_dataframe(dataframe_name = 'payments', 
                                   dataframe = payments,
                                   logical_types = {
                                       'missed' : Categorical
                                   },
                                   make_index = True,
                                   index = 'payment_id',
                                   time_index = 'payment_date')

    # Group loans by client id and calculate mean, max, min of loans
    #client_id로 groupby를 한 다음 loan_amount의 mean,max,min 계산을 하여 출력한다.
    stats = loans.groupby('client_id')['loan_amount'].agg(['mean', 
    'max', 'min'])
    #columns 생성한다.
    stats.columns = ['mean_loan_amount', 'max_loan_amount', 
    'min_loan_amount']
    # Merge with the clients dataframe
    stats = clients.merge(stats, left_on = 'client_id', right_index=True, how = 'left')
    stats.head(10)
    
    """
    es = es.add_relationship("products", "product_id", "transactions", "product_id")
    """
    #make entity realations
    # Create a relationship between clients and loans
    # Relationship between previous loans and previous payments
    # Add the relationship to the entity set
    es= es.add_relationship("clients", "client_id","loans","client_id")
    es= es.add_relationship("loans", "loan_id","payments","loan_id")

C:\Users\ksmin\anaconda3\Lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(
C:\Users\ksmin\anaconda3\Lib\site-packages\woodwork\type_sys\utils.py:40: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(

In [19]:
es

Entityset: clients
  DataFrames:
    clients [Rows: 25, Columns: 4]
    loans [Rows: 443, Columns: 8]
    payments [Rows: 3456, Columns: 5]
  Relationships:
    loans.client_id -> clients.client_id
    payments.loan_id -> loans.loan_id

In [22]:
    # Create new features using specified primitives
    features, feature_names = ft.dfs(entityset = es, target_dataframe_name = 'clients', 
                                     agg_primitives = ['sum'],
                                     trans_primitives=[])
    
    #feature_matrix, feature_defs = ft.dfs(entityset=es, target_dataframe_name="products")

C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:828: FutureWarning: The provided callable <function sum at 0x000001697E39C220> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:828: FutureWarning: The provided callable <function sum at 0x000001697E39C220> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

In [23]:
features

,income,credit_score,SUM(loans.loan_amount),SUM(loans.rate),SUM(loans.repaid),SUM(payments.payment_amount),SUM(payments.loans.loan_amount),SUM(payments.loans.rate),SUM(payments.loans.repaid)
client_id,,,,,,,,,
42320,229481,563,105931.0,36.86,9.0,122578.0,843367.0,302.84,70.0
39384,191204,617,149444.0,67.23,12.0,174270.0,1161741.0,499.12,84.0
26945,214516,806,106889.0,42.83,6.0,124261.0,771053.0,330.13,38.0
41472,152214,638,120173.0,63.70,8.0,118553.0,784731.0,435.36,56.0
46180,43851,562,154017.0,70.05,10.0,176796.0,1142666.0,578.43,74.0
46109,172677,527,179032.0,63.05,11.0,193954.0,1199661.0,450.55,76.0
32885,58955,642,148806.0,36.54,8.0,160597.0,1086206.0,244.97,63.0
29841,38354,523,176634.0,62.01,10.0,215915.0,1479162.0,494.77,84.0
38537,127183,643,152768.0,40.62,10.0,164904.0,1086422.0,318.07,72.0
35214,95849,696,129124.0,55.95,8.0,178780.0,1155314.0,515.92,65.0
49068,128813,603,137122.0,55.72,13.0,179442.0,1135240.0,434.45,109.0
26326,227920,633,116321.0,40.28,8.0,155176.0,950439.0,316.28,63.0
26695,174532,680,140845.0,44.39,7.0,164211.0,1038464.0,354.66,54.0
44601,156341,518,137385.0,83.02,15.0,169691.0,1156548.0,654.67,114.0
32726,235705,730,126032.0,58.12,11.0,142589.0,907656.0,461.96,90.0
25707,211422,621,159279.0,69.54,8.0,189747.0,1288666.0,531.10,75.0
49545,104564,770,205786.0,53.68,14.0,282907.0,2003153.0,593.25,112.0
48177,190632,769,141063.0,74.84,8.0,189555.0,1221517.0,614.37,68.0
32961,230341,714,133998.0,66.82,9.0,136116.0,946310.0,511.54,55.0
44387,151903,781,110816.0,42.10,9.0,115077.0,810865.0,284.30,55.0
35089,131176,771,138784.0,70.27,12.0,174065.0,1149727.0,530.09,101.0
46958,225709,644,121919.0,41.00,3.0,123870.0,859094.0,285.21,19.0
39505,153873,610,148481.0,63.81,9.0,175466.0,1155246.0,466.67,62.0
49624,49036,800,137618.0,60.56,9.0,143329.0,954116.0,437.82,63.0
41480,122607,585,157897.0,62.21,10.0,188223.0,1125802.0,437.64,71.0