In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1,3,5,np.nan,6,8]) #1차원 데이터
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
df = pd.DataFrame(np.random.randn(6,4)) #2차원 데이터
df

          0         1         2         3
0 -0.654135  0.815762 -0.314708 -1.286101
1  1.117025  0.216840  1.182707  1.450587
2 -2.648261  0.370709 -0.034597  0.683072
3 -1.901774  0.031410 -0.059785  0.730155
4 -1.130489 -1.192138 -0.241994 -1.084858
5  1.195437  0.111482  0.018831  1.220742

In [11]:
dates = pd.date_range('20131230', periods=6) #2013/12/30일부터 6일동안 dates에 저장
dates

DatetimeIndex(['2013-12-30', '2013-12-31', '2014-01-01', '2014-01-02',
               '2014-01-03', '2014-01-04'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = ['A','B', 'C', 'D']) 
df

                   A         B         C         D
2013-12-30  0.497916 -0.983483  0.911867 -0.069229
2013-12-31  0.711749  1.406851 -1.074927  1.559961
2014-01-01  1.405307 -2.349109 -0.937790 -1.511107
2014-01-02  0.846757  0.896055 -0.723569  0.045608
2014-01-03 -1.231188 -1.442409  2.845356  0.054316
2014-01-04  0.233734 -0.960786 -0.783412  2.209437

In [13]:
#DataFrame안에 딕셔너리 형태로 적게되면 key는 컬럼이 되고, value는 각 value가 된다.
df2 = pd.DataFrame({'A':1,
                    'B':pd.Timestamp('20130102'),
                    'C' : pd.Series([1,2,3,4], dtype='float32'),
                    'D' : pd.Categorical(['train','test','train','test']),
                    'F':'foo'})

df2

   A          B    C      D    F
0  1 2013-01-02  1.0  train  foo
1  1 2013-01-02  2.0   test  foo
2  1 2013-01-02  3.0  train  foo
3  1 2013-01-02  4.0   test  foo

In [14]:
df.head(5) #앞에서부터 5개를 출력해라
df.tail(2) #뒤에서부터 2개를 출력해라
df.index #index만 보고싶다.
df.columns #column만 보고싶다.

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df['A'] #A컬럼만 출력
df[1:4] #1컬럼부터 4컬럼까지

                   A         B         C         D
2013-12-31  0.711749  1.406851 -1.074927  1.559961
2014-01-01  1.405307 -2.349109 -0.937790 -1.511107
2014-01-02  0.846757  0.896055 -0.723569  0.045608

In [16]:
df[['A','C']] #2차원 list를 선언을 해야 실행이 된다.

                   A         C
2013-12-30  0.497916  0.911867
2013-12-31  0.711749 -1.074927
2014-01-01  1.405307 -0.937790
2014-01-02  0.846757 -0.723569
2014-01-03 -1.231188  2.845356
2014-01-04  0.233734 -0.783412

In [17]:
df['A','C'] #1차원 list는 선언 X

KeyError: ('A', 'C')

In [18]:
students = [ ('jack', 'Apples' , 34) ,
('Riti', 'Mangos'  , 31) ,
('Aadi', 'Grapes' , 30) ,
('Sonia', 'Apples', 32) ,
('Lucy', 'Mangos'  , 33) ,
('Mike', 'Apples' , 35)
]
#Create a DataFrameobject
dfx = pd.DataFrame(students, columns = ['Name' , 'Product', 'Sale'])

In [21]:
subDF = dfx[dfx['Product'] == 'Apples'] #특정한 조건을 만족하는 row를 찾는 것.
#Product 컬럼이 apples값을 갖는 모든 데이터 row들을 출력해라
#subDF
dfx['Product'] =='Apples' #이렇게 하면 series데이터 값, 1차원 값이 나온다.

0     True
1    False
2    False
3     True
4    False
5     True
Name: Product, dtype: bool

In [23]:
#loc는 여러 개의 값을 선택할 때
df.loc['20131230'] #row가 20131230인 것들을 가지고 와라.
df.loc[['20131230', '20131231'],['A','C']] #df.loc('rows','columns')
#df.loc[:,['A','B']]

                   A         C
2013-12-30  0.497916  0.911867
2013-12-31  0.711749 -1.074927

In [27]:
#여러 개의 값들을 순서를 선택할 때
df.iloc[0] #index loc
df.iloc[3:5,0:2] #row, column순이다.
df.iloc[[1,2,3],[1,2]]

                   B         C
2013-12-31  1.406851 -1.074927
2014-01-01 -2.349109 -0.937790
2014-01-02  0.896055 -0.723569

In [ ]:
#새로운 Data를 DataFrame에 넣는 법
df3 = df.copy()
df3['F'] =

In [ ]:
#값을 기준으로 특정하는 것
df3.at[dates[0], 'A'] = 0 #하나의 값을 바꾸는 것
df3.iat[0,1] = 0 #값들의 순서를 바꾸는 것
df3.loc[:,'D'] = np.array([5.]*len(df3))

In [28]:
#Categorical 순서가 있는 데이터, Ordinal data : 순서가 없는 데이터
grade = pd.Series(['A','B','C','D','E','F'])
df = pd.DataFrame({'id' : [2,3,4,5,6,7],
                   'grade' : grade.astype('category')})

In [30]:
df['grade'].cat.categories #확인해보는 것
df['grade'].cat.categories = ['수','우', '미']

#추가하는 것은 
#cat.set_categories

AttributeError: property 'categories' of 'Categorical' object has no setter

In [ ]:
#pandas를 numpy형태로 바꾸는 것
df.to_numpy() 

df.sort_values(by = 'b', ascending=True) #b행을 True이기 때문에 오름차순으로 정렬해라.